/* Start Global Rules  */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    list-style: none;
    text-align: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/*  end global rules   */
.header {
    width: 100%;
    min-height: 100vh;
    padding: 0 7%;
    position: relative;
    background:linear-gradient(to right, #667eea,#764ba2); 
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width:140px;
}
.nav-links {
    padding: 28px 0;
}
.nav-links li {
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a {
    color: #fff;
    padding: 5px 0;
    position: relative;
    font-weight: 500;
}
.nav-links li a:after {
    content: '';
    background: #111;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.nav-links li a:hover::after {
    width: 100%;
} 
.action i{
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
}
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    overflow:hidden;
}
.content .text {
    position: relative;
    max-width: 600px;
}
.content .text p {
    line-height: 1.5em;
}
.content .text h1 {
    font-size: 3em;
}
.content .text h1 span {
    color: #00bfff;
}
.content .img-box img{
    width: 580px;
    filter: drop-shadow(15px 15px 15px#806cc0);
    animation: animate 3s linear infinite;
    transform: rotate(-20deg);
    animation: animate 3s linear infinite;
}
/*  if you want to use animation here and change setting you are free */
/*@keyframes animate {
    0% {
    transform: translate(-11px, 0);
    }
    50% {
    transform: translate(-0px, -11px);
    }
    100% {
    transform: translate(-11px, 0);
    }
}*/
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    color: #fff;
    background: #764ba2;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
}
.footer {
    position: absolute;
    bottom:0;
    width: 100%;
    display: flex;
    padding: 40px 100px;
    justify-content: space-between;
    align-items: center;
}
.social {
    display: flex;
}
.social li a {
    color: whitesmoke;
    font-size: 2em;
    margin-right: 20px;
    display: inline-block;
    transition: 0.2s;
}
.social li a:hover {
    transform: translateY(-5px);
    /*color: #333;*/
}
/* start toggle menu */
.hamb {
    width: 35px;
    height: auto;
    cursor: pointer;
    position: absolute;
    top:39px;
    right: 65px;
    z-index: 1;
    display: none;
}
.hamb span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
}
.hamb span.mid {
    margin: 7px 0px;
}
/*  end toggle menu   */
/* start media query */
@media (max-width: 1200px) {
    .footer {
        justify-content: flex-end;
    }
}
@media (max-width: 840px) {
    .content .img-box img {
        width: 400px;
    }
    .footer {
        justify-content: flex-end;
    }
}
@media (max-width: 991px) {
    .header .logo {
        width: 90px;
    }
    .header .nav-links {
        display: none;
    }
    .content {
        flex-direction: column;
        margin-top: 10px;
    }
    .content .text {
        max-width: 100%;
    }
    .content .text h1 {
        font-size: 2.1em;
    }
    
    .footer {
        font-size: 12px;
        bottom: -25px;
        justify-content: center;
    }
    
}
@media (max-width: 425px) {
    .footer {
        display: none;
    }
    .content {
        margin-top: -30px;
    }
}
@media (max-width: 725px) {
    .content {
        margin-top: 50px;
    }
    .content .img-box img {
        width: 314px;
    }
    .footer {
        justify-content: flex-end;
    }
} 




